certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fastapi==0.63.0
filelock==3.0.12
h11==0.12.0
httptools==0.1.1
idna==2.10
joblib==1.0.1
numpy==1.20.1
packaging==20.9
Pillow==8.1.0
pydantic==1.7.3
pyparsing==2.4.7
python-dotenv==0.15.0
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
six==1.15.0
starlette==0.13.6
tokenizers==0.10.1
torch==1.7.1
torchvision==0.8.2
tqdm==4.56.2
transformers==4.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
uvicorn==0.13.3
uvloop==0.15.0
watchgod==0.6
websockets==8.1
